In [2]:
import pandas as pd

In [3]:
s = pd.Series([1,2,3,4,5])
print(s[4])

5

In [4]:
new_series = pd.Series([23,24,25,26],index=["Adam","Eve","Charlie","Mohan"])
print(new_series.index)

Index(['Adam', 'Eve', 'Charlie', 'Mohan'], dtype='object')

Series Properties

In [5]:
for i in range(len(s)):
    print(s[i]+i)

1
3
5
7
9

Homogeneous
Vectorization
Handle Missing values with NaN
Mutable Elements Value but Immutable size

In [6]:
# DataFrame

In [7]:
df = pd.DataFrame([['Tarun',21],['Raj',21],['Sarthak',21]],columns =['Name','Age'],index=range(1,4))
df.nunique()

Name    3
Age     1
dtype: int64

In [2]:
data = pd.read_csv('datasets/globalAirQuality.csv')
data

NameError: name 'pd' is not defined

In [3]:
df = pd.DataFrame(data)
df

NameError: name 'pd' is not defined

In [4]:
df.sample(5)

NameError: name 'df' is not defined

In [5]:
df.loc[:3]

NameError: name 'df' is not defined

In [6]:
df.iat[2,1]

NameError: name 'df' is not defined

In [7]:
df[['longitude','country','aqi']]

NameError: name 'df' is not defined

In [8]:
df[(df['city']=='Delhi') & (df['aqi']<50)]

NameError: name 'df' is not defined

In [9]:
aqi_val = 100
df.query("aqi>@aqi_val" )

NameError: name 'df' is not defined

In [10]:
df.isnull().sum()

NameError: name 'df' is not defined

In [11]:
df.dtypes

NameError: name 'df' is not defined

In [12]:
df2 = pd.read_json("store_data.json")
df2

NameError: name 'pd' is not defined

In [13]:
df2.isnull().sum()

NameError: name 'df2' is not defined

In [ ]:
df2