In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5])
print(s[4])

5

In [3]:
new_series = pd.Series([23,24,25,26],index=["Adam","Eve","Charlie","Mohan"])
print(new_series.index)

Index(['Adam', 'Eve', 'Charlie', 'Mohan'], dtype='object')

Series Properties

In [4]:
for i in range(len(s)):
    print(s[i]+i)

1
3
5
7
9

Homogeneous
Vectorization
Handle Missing values with NaN
Mutable Elements Value but Immutable size

In [5]:
# DataFrame

In [6]:
df = pd.DataFrame([['Tarun',21],['Raj',21],['Sarthak',21]],columns =['Name','Age'],index=range(1,4))
df.nunique()

Name    3
Age     1
dtype: int64

In [7]:
data = pd.read_csv('globalAirQuality.csv')
data

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [8]:
df = pd.DataFrame(data)
df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [9]:
df.sample(5)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
5763,2025-11-04 21:25:17.554219,SA,Riyadh,24.714,46.675,37.878,45.209,25.940,5.730,69.826,0.914,75,35.940,54.665,1.067
8563,2025-11-16 13:25:17.554219,JP,Tokyo,35.676,139.650,55.729,62.054,26.891,5.149,22.886,0.866,111,7.795,84.292,9.974
16686,2025-11-10 00:25:17.554219,PL,Warsaw,52.230,21.012,16.634,55.575,27.879,3.988,31.593,0.539,69,23.342,64.692,0.970
3745,2025-11-10 19:25:17.554219,AR,Buenos Aires,-34.604,-58.382,17.692,90.853,52.002,5.973,65.411,0.601,130,31.946,32.683,4.415
11803,2025-11-16 13:25:17.554219,ID,Jakarta,-6.209,106.846,40.115,87.197,16.126,7.055,18.948,0.952,87,14.713,53.435,5.887

In [10]:
df.loc[:3]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956

In [11]:
df.iat[2,1]

'US'

In [12]:
df[['longitude','country','aqi']]

       longitude country  aqi
0        -74.006      US  108
1        -74.006      US   90
2        -74.006      US   84
3        -74.006      US  158
4        -74.006      US   97
...          ...     ...  ...
17995      8.542      CH  103
17996      8.542      CH  105
17997      8.542      CH  122
17998      8.542      CH   95
17999      8.542      CH   88

[18000 rows x 3 columns]

In [13]:
df[(df['city']=='Delhi') & (df['aqi']<50)]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6918,2025-11-08 00:25:17.554219,IN,Delhi,28.704,77.102,17.299,20.153,16.289,9.517,51.996,0.319,40,29.219,87.467,3.501
6949,2025-11-09 07:25:17.554219,IN,Delhi,28.704,77.102,14.007,46.143,15.781,5.088,70.074,0.656,46,24.130,51.745,6.791
7023,2025-11-12 09:25:17.554219,IN,Delhi,28.704,77.102,24.033,34.610,16.538,6.835,58.051,0.706,48,36.286,28.847,6.795

In [21]:
aqi_val = 100
df.query("aqi>@aqi_val" )
len(df.columns)

15

In [23]:
df.isnull().sum()

timestamp      0
country        0
city           0
latitude       0
longitude      0
pm25           0
pm10           0
no2            0
so2            0
o3             0
co             0
aqi            0
temperature    0
humidity       0
wind_speed     0
dtype: int64

In [25]:
df.dtypes

timestamp       object
country         object
city            object
latitude       float64
longitude      float64
pm25           float64
pm10           float64
no2            float64
so2            float64
o3             float64
co             float64
aqi              int64
temperature    float64
humidity       float64
wind_speed     float64
dtype: object

In [27]:
df2 = pd.read_json("store_data.json")
df2

                 name    age review  country
0       Alice Johnson   28.0    4.5      USA
1         brian smith   34.0   Five      USA
2     Charlie Brown      NaN    two   Canada
3        Diana Prince  200.0    3.5       US
4                None   29.0   Zero       UK
5                EVAN   -5.0  thRee  germany

In [28]:
df2.isnull().sum()

name       1
age        1
review     0
country    0
dtype: int64

In [33]:
df2

                 name    age review  country
0       Alice Johnson   28.0    4.5      USA
1         brian smith   34.0   Five      USA
2     Charlie Brown      NaN    two   Canada
3        Diana Prince  200.0    3.5       US
4                None   29.0   Zero       UK
5                EVAN   -5.0  thRee  germany