In [1]:
import pandas as pd

In [6]:
s = pd.Series([1,2,3,4,5])
print(s[4])

5

In [13]:
new_series = pd.Series([23,24,25,26],index=["Adam","Eve","Charlie","Mohan"])
print(new_series.index)

Index(['Adam', 'Eve', 'Charlie', 'Mohan'], dtype='object')

Series Properties

In [16]:
for i in range(len(s)):
    print(s[i]+i)

1
3
5
7
9

Homogeneous
Vectorization
Handle Missing values with NaN
Mutable Elements Value but Immutable size

In [19]:
# DataFrame

In [30]:
df = pd.DataFrame([['Tarun',21],['Raj',21],['Sarthak',21]],columns =['Name','Age'],index=range(1,4))
df.nunique()

Name    3
Age     1
dtype: int64

In [32]:
data = pd.read_csv('globalAirQuality.csv')
data

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [34]:
df = pd.DataFrame(data)
df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [35]:
df.sample(5)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
17113,2025-11-12 19:25:17.554219,SE,Stockholm,59.329,18.069,21.899,105.187,16.638,7.017,47.286,0.748,105,9.706,39.590,7.214
17199,2025-11-16 09:25:17.554219,SE,Stockholm,59.329,18.069,19.321,52.203,33.369,6.907,46.349,0.591,83,15.171,43.772,8.851
12521,2025-11-16 11:25:17.554219,AU,Melbourne,-37.814,144.963,8.826,79.108,42.284,4.222,47.170,0.925,105,17.286,85.490,1.710
2336,2025-11-12 02:25:17.554219,IT,Rome,41.903,12.496,0.487,32.194,57.673,3.736,69.203,1.111,144,5.652,77.210,4.773
4912,2025-11-14 10:25:17.554219,KE,Nairobi,-1.292,36.822,13.663,99.572,10.328,7.535,54.581,0.593,99,27.266,53.873,5.533

In [38]:
df.loc[:3]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956

In [44]:
df.iat[2,1]

'US'

In [45]:
df[['longitude','country','aqi']]

       longitude country  aqi
0        -74.006      US  108
1        -74.006      US   90
2        -74.006      US   84
3        -74.006      US  158
4        -74.006      US   97
...          ...     ...  ...
17995      8.542      CH  103
17996      8.542      CH  105
17997      8.542      CH  122
17998      8.542      CH   95
17999      8.542      CH   88

[18000 rows x 3 columns]

In [52]:
df[(df['city']=='Delhi') & (df['aqi']<50)]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6918,2025-11-08 00:25:17.554219,IN,Delhi,28.704,77.102,17.299,20.153,16.289,9.517,51.996,0.319,40,29.219,87.467,3.501
6949,2025-11-09 07:25:17.554219,IN,Delhi,28.704,77.102,14.007,46.143,15.781,5.088,70.074,0.656,46,24.130,51.745,6.791
7023,2025-11-12 09:25:17.554219,IN,Delhi,28.704,77.102,24.033,34.610,16.538,6.835,58.051,0.706,48,36.286,28.847,6.795